<div class="home-component">


  <mat-toolbar color="primary">
    <span>Joseph Meyer Sample Projects</span>
  </mat-toolbar>

  <mat-card class="info-card">
    <mat-card-title>Some Assembly 6502 Practice</mat-card-title>
    <p class="info-text">This work is based on the <span class="ital">Making Games for the 2600</span> text by <span
        class="ital">Steven
        Hugg</span>.
      This repo mostly contains work starting with his samples and then adjusting to learn moving memory values
      between
      registers. </p>

    <p class="info-text">The github link below will take you to my public repo to see samples of this code.</p>

    <mat-card-actions class="mat-action-row">
      <a href="https://github.com/jrmAE/6502_practice" target="_blank" mat-mini-fab color="primary"
        aria-label="Link to Github Repo for Assembly">
        <mat-icon svgIcon="github-circle"></mat-icon>
      </a>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>

</div>
