.home-component {
  width: 100%;
  background-image: url("/jrm533/assets/atari_lightened.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: left top;
  position: absolute;

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .info-card {
    margin: 50px;
  }

  .ital {
    font-style: italic
  }

  .info-text {
    margin: 14px 0;
  }

  .mat-action-row {
    display: flex;
    flex-direction: row-reverse;
    margin: 4px;
  }

  .mat-action-row-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    align-items: end;
    justify-content: end;
    margin: 4px;
  }

  @media only screen and (max-width: 920px) {
    .mat-action-row-grid {
      grid-template-columns: auto;
      gap: 12px;
    }
  }

  .margin-left {
    margin-left: 8px;
  }

  .btn-action {
    margin: 0 4px;
    min-width: 150px;
    max-width: 150px;
  }

  .img-action {
    margin: 0 4px;
  }
}
