<mat-drawer-container class="home-component">

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Joe's Projects </span>
    <span class="toolbar-spacer"></span>
    <a href="https://linkedin.com/in/joseph-meyer-0854351ba" target="_blank" mat-flat-button color="accent"
      aria-label="linkedin page">
      <mat-icon svgIcon="linkedin"></mat-icon>
    </a>
  </mat-toolbar>



  <mat-drawer #drawer class="port-sidenav" mode="over">
    <mat-nav-list>
      <a mat-list-item href="#angular" (click)="drawer.close()"> Angular & Typescript </a>
      <a mat-list-item href="#assembly" (click)="drawer.close()"> Assembly </a>
      <a mat-list-item href="#kotlin" (click)="drawer.close()"> Android (Kotlin) </a>
      <a mat-list-item href="#java" (click)="drawer.close()"> Android (Java) </a>
      <a mat-list-item href="#git" (click)="drawer.close()"> Java & Git/Gitub </a>
      <a mat-list-item href="#cars" (click)="drawer.close()"> Restoration </a>
      <a mat-list-item href="#unity" (click)="drawer.close()"> Unity </a>
    </mat-nav-list>

  </mat-drawer>

  <div class="welcome-banner">
    <span class="welcome-title">Hi there.</span>
    <span class="welcome-details">This is a collection of projects </span>
    <span class="welcome-details">- physical and digital -</span>
    <span class="welcome-details">that I work on in my spare time</span>
  </div>

  <mat-card class="info-card card-lead" id="angular">
    <mat-card-title>Angular & Typescript</mat-card-title>

    <p class="info-text">This page is built with Android. Initially using the Angular CLI v 13.
      It uses material for theming and styling. It is bundled and deployed to this server location. The
      source code for this project is available below.
    </p>

    <p class="info-text">The github link below will take you to my public repo to see samples of this code.</p>

    <mat-card-actions class="mat-action-row">
      <a href="https://github.com/jrmAE/portfolio/tree/main/portfolio" target="_blank" mat-flat-button color="primary"
        class="btn-action" aria-label="Link to Github Repo for this web page.">
        Angular<mat-icon class="margin-left" svgIcon="github-circle"></mat-icon>
      </a>
    </mat-card-actions>

  </mat-card>

  <mat-card class="info-card" id="assembly">
    <mat-card-title>Assembly 6502 Practice</mat-card-title>
    <p class="info-text">This work is based on the <span class="ital">Making Games for the 2600</span> text by <span
        class="ital">Steven
        Hugg</span>.
      This repo mostly contains work starting with his samples and then adjusting to learn moving memory values
      between
      registers. </p>

    <p class="info-text">The contents of this repo are just for my projects and practice. Some of the late development
      of
      games for the Atari 2600 fascinate me. Developing cohesive gaming experiences with 128 bytes of ram, 0 video
      ram,
      and a limit
      of 4k (or so) makes for a impressive challenge to overcome. I maintain that the Double Dragon port for the Atari
      2600 is the
      most technically impressive game I've seen.
    </p>

    <p class="info-text">The github link below will take you to my public repo to see samples of this code.</p>

    <mat-card-actions class="mat-action-row">
      <a href="https://github.com/jrmAE/6502_practice" target="_blank" mat-flat-button color="primary"
        class="btn-action" aria-label="Link to Github Repo for Assembly">
        Assembly<mat-icon class="margin-left" svgIcon="github-circle"></mat-icon>
      </a>
    </mat-card-actions>

  </mat-card>

  <mat-card class="info-card" id="java">
    <mat-card-title>Basic Java-based Android Samples</mat-card-title>
    <p class="info-text">This work contains samples that I use for an Android Development class that I teach.
      That class stresses the basics of the Android and assumes a entry-level familiarity with Java. We learn our
      way around Android Studio, learn the basics of version of control and some best practices for software
      development.
      We then cover topics that include the activity lifecycle, basic security principles and deployment. We use those
      skills to development
      an android application, unique to each student, then learn how to deploy them to our devices. </p>

    <p class="info-text">The github link below will take you to my public repo to see samples of this code.</p>

    <mat-card-actions class="mat-action-row-grid">
      <a href="https://github.com/jrmAE/Android-Permission-Practice" target="_blank" mat-flat-button color="primary"
        class="btn-action" aria-label="Link to Github Repo for Java Android Permissions">
        Permissions<mat-icon class="margin-left" svgIcon="github-circle"></mat-icon>
      </a>
      <a href="https://github.com/jrmAE/AndroidLocation" target="_blank" mat-flat-button color="primary"
        class="btn-action" aria-label="Link to Github Repo for Java Android Location">
        Location<mat-icon class="margin-left" svgIcon="github-circle"></mat-icon>
      </a>
      <a href="https://github.com/jrmAE/AndroidAnimationPractice" target="_blank" mat-flat-button color="primary"
        class="btn-action" aria-label="Link to Github Repo for Java Android Animations">
        Animations<mat-icon class="margin-left" svgIcon="github-circle"></mat-icon>
      </a>
      <a href="https://github.com/jrmAE/2020CameraApp" target="_blank" mat-flat-button color="primary"
        class="btn-action" aria-label="Link to Github Repo for Java Android Camera Demo">
        Camera<mat-icon class="margin-left" svgIcon="github-circle"></mat-icon>
      </a>
      <a href="https://github.com/jrmAE/FallDemoApp" target="_blank" mat-flat-button color="primary" class="btn-action"
        aria-label="Link to Github Repo for Java Android Basic Demo">
        Basic Demo<mat-icon class="margin-left" svgIcon="github-circle"></mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="info-card" id="kotlin">
    <mat-card-title>An Intro to Kotlin</mat-card-title>
    <p class="info-text">This work contains samples that I use for an Android Development class that I teach.
      The class is 12 weeks long. For classes that move faster and can cover the critical development principles of
      Android
      in Java, we will finish the term with introduction-to and overview-of Kotlin. </p>
    <p class="info-text">By the time students are introduced to Kotlin, they would have completed a Java programming
      course., in addition to the bulk of their Android class being in Java. This provides an excellent base to compare
      and contrast the
      benefits of Kotlin.
    </p>
    <p class="info-text">The github link below will take you to my public repo to see samples of this code.</p>

    <mat-card-actions class="mat-action-row">
      <a href="https://github.com/jrmAE/KotlinAnimation" target="_blank" mat-flat-button color="primary"
        class="btn-action" aria-label="Link to Github Repo for Kotlin">
        Kotlin<mat-icon class="margin-left" svgIcon="github-circle"></mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="info-card" id="git">
    <mat-card-title>A way to learn git & github</mat-card-title>
    <p class="info-text">This project is very old, and very dead. Most of my professional experience was (up until
      this
      point)
      using centralized version control systems, like ClearCase. I wanted to learn to use git and interface with git
      hub.
      This is the project I used to do that. It's a Java 7 / Jogl / Jmonkey based project, with a few items developed
      through Blender. </p>

    <p class="info-text">The github link below will take you to my public repo to see samples of this code.</p>

    <mat-card-actions class="mat-action-row">
      <a href="https://github.com/jrmAE/AdvEnt" target="_blank" mat-flat-button color="primary" class="btn-action"
        aria-label="Link to Github Repo for Git and Github practice">
        Jmonkey<mat-icon class="margin-left" svgIcon="github-circle"></mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="info-card" id="cars">
    <mat-card-title>Auto Restoration</mat-card-title>
    <p class="info-text"> Besides learning and building things virtually, I spend a bit of time tinkering
      with older cars. Cars from the 80's mostly. So far with pretty-okay results. This lets me see engineering problems
      from a different perspective. Everything I work on or build, I do with the goal of having it be comfortable and
      reliable.</p>

    <p class="info-text">Obviously no github repo for this, so a picture of two projects in different stages of
      restoration. Both of these projects are now completed. </p>

    <mat-card-actions class="mat-action-row">
      <a href="/jrm533/assets/car_full.jpg" target="_blank" class="img-action"
        aria-label="Link to full size restoration image">
        <img src="/jrm533/assets/car_thumbnail.jpg">
      </a>
      <a href="/jrm533/assets/car2_full.jpg" target="_blank" class="img-action"
        aria-label="Link to a second full size restoration image">
        <img src="/jrm533/assets/car2_thumbnail.jpg">
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="info-card" id="unity">
    <mat-card-title>Unity</mat-card-title>
    <p class="info-text"> In 2022 I started working with Unity. Initially I focused on learning the environment and the
      tools it provides. I'm building
      in a linux environment and some of the setup has proved challenging there. This initial project is to
      test a full project lifecycle: Starting from minor modifications and finishing with a published WebGl build.
    </p>

    <p class="info-text">There is nothing unique about this project. It is the demo 2d world sample provided by Unity.
      It is modified slightly following their tutorials, then built using the WebGl platform and published to unity's
      server. Unity provides an excellent suite of introductory videos to learn from and a set of projects to begin
      with.</p>

    <p class="info-text">I'm currently working on a 2d practice project to expand these skills a bit. </p>

    <mat-card-actions class="mat-action-row">
      <a href="https://play.unity.com/mg/other/web_gl_test_build-1" target="_blank" mat-flat-button color="primary"
        class="btn-action" aria-label="Link to this published, generic unity game">
        Unity Build 1<mat-icon class="margin-left" svgIcon="unity"></mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>

</mat-drawer-container>
