.home-component {
  width: 100%;
  background-image: url("/assets/atari_lightened.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: left top;
  position: absolute;

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .info-card {
    margin: 50px;
  }

  .info-bg {
    background-image: url("/assets/atari_cropped.jpg");
  }

  .ital {
    font-style: italic
  }

  .info-text {
    margin: 14px 0;
  }

  .mat-action-row {
    display: flex;
    flex-direction: row-reverse;
    margin: 4px;
  }

  .margin-left {
    margin-left: 8px;
  }

  .btn-action {
    margin: 0 4px;
  }
}
