@use '@angular/material'as mat;

$light-primary: mat.define-palette(mat.$indigo-palette, 500);
// $my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

.home-component {
  width: 100%;
  background-image: url("/jrm533/assets/atari_lightened.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: left top;
  position: absolute;

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .welcome-banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 250px;
    background-color: mat.get-color-from-palette(mat.$purple-palette, 300);
    opacity: .9;

    .welcome-title {
      font-family: "Lucida Console", "Courier New", monospace;
      font-size: x-large;
      margin: 36px 0;
    }

    .welcome-details {
      font-family: "Lucida Console", "Courier New", monospace;
      font-size: large;
    }
  }

  @media only screen and (max-width: 400px) {
    .welcome-banner {
      justify-content: center;

      .welcome-details {
        display: none;
      }
    }
  }

  .card-lead {
    margin-top: 175px !important;
  }

  .info-card {
    margin: 50px;
  }

  .ital {
    font-style: italic
  }

  .link-color {
    text-decoration: none;
    color: aqua;
  }

  .link-color:visited {
    text-decoration: none;
    color: aqua;
  }

  .info-text {
    margin: 14px 0;
  }

  .mat-action-row {
    display: flex;
    flex-direction: row-reverse;
    margin: 4px;
  }

  .mat-action-row-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    align-items: end;
    justify-content: end;
    margin: 4px;
  }

  @media only screen and (max-width: 920px) {
    .mat-action-row-grid {
      grid-template-columns: auto;
      gap: 12px;
    }
  }

  .margin-left {
    margin-left: 8px;
  }

  .btn-action {
    margin: 0 4px;
    min-width: 150px;
    max-width: 150px;
  }

  .img-action {
    margin: 0 4px;
  }
}
